<header
  class="flex items-center justify-between px-6 mt-3 py-3 md:py-4 shadow-sm max-w-5xl rounded-full mx-auto w-full bg-surface text-text sticky top-3 z-50"
>
  <!-- Logo -->
  <a [routerLink]="['/']" class="shrink-0">
    <img
      [src]="this.themeService.theme() === 'dark' ? 'Logo/logo-dark.png' : 'Logo/logo-light.png'"
      class="h-8 md:h-10 w-auto"
      alt="ShopNext Logo"
    />
  </a>

  <!-- Mobile Navigation Overlay -->
  <nav
    id="menu"
    [class]="
      'max-md:fixed max-md:top-0 max-md:left-0 max-md:overflow-hidden ' +
      'items-center justify-center max-md:h-full ' +
      'transition-[width] duration-300 ' +
      'bg-surface/95 backdrop-blur-md ' +
      'flex-col md:flex-row flex gap-8 ' +
      'text-text text-sm font-normal z-50 ' +
      (isMenuOpen() ? 'max-md:w-full' : 'max-md:w-0')
    "
  >
    <button
      id="closeMenu"
      class="md:hidden absolute top-6 right-6 text-text-muted hover:text-primary transition-colors"
      (click)="toggleMenu()"
      aria-label="Close menu"
    >
      <mat-icon class="w-6 h-6" aria-hidden="true">close</mat-icon>
    </button>

    @for (item of links; track item.href) {
      <a
        [routerLink]="[item.href]"
        routerLinkActive="bg-primary text-text-inverse font-semibold pointer-events-none"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
        class="block px-4 py-2 rounded-lg transition-colors hover:bg-surface-hover"
      >
        {{ item.name }}
      </a>
    }
  </nav>

  <!-- Right Controls -->
  <div class="flex items-center space-x-3 md:space-x-4 z-40">
    <a
      routerLink="/cart"
      class="relative p-2 rounded-full transition-all duration-300 text-text"
      aria-label="View Cart"
    >
      <mat-icon class="w-6 h-6 transition-transform duration-300 hover:-rotate-12"
        >shopping_bag</mat-icon
      >

      @if (cartService.totalItems() > 0) {
        <span
          class="absolute top-0 right-0 inline-flex items-center justify-center px-1.5 py-0.5 text-[10px] font-bold leading-none text-white transform translate-x-1/4 -translate-y-1/4 bg-red-600 rounded-full min-w-4.5 h-4.5"
        >
          {{ cartService.totalItems() }}
        </span>
      }
    </a>
    <!-- Theme Toggle -->
    <component-theme-toggle />

    <!-- Mobile Hamburger -->
    <button
      id="openMenu"
      class="md:hidden text-text-muted hover:text-primary transition-colors"
      (click)="toggleMenu()"
      aria-label="Open menu"
    >
      <mat-icon class="w-6 h-6" aria-hidden="true">menu</mat-icon>
    </button>
  </div>
</header>
