<div class="container mx-auto px-2 py-2">
  <div class="flex flex-col md:flex-row gap-8 items-start">
    <component-filter-sidebar
      class="w-full md:w-72 sticky top-24 self-start z-50"
    ></component-filter-sidebar>
    <main class="flex-1 w-full">
      <!-- Results count -->
      <div class="mb-6 flex items-center justify-end">
        <p class="text-text-muted text-sm">
          @if (productService.filteredProducts().length > 0) {
            {{ productService.filteredProducts().length }} results found
          } @else {
            Updating results...
          }
        </p>
      </div>

      <!-- Empty state -->
      @if (productService.filteredProducts().length === 0) {
        <div class="text-center py-20 bg-surface rounded-2xl border border-dashed border-border">
          <mat-icon class="text-text-muted w-12 h-12 text-[48px]! mb-2"> search_off </mat-icon>
          <p class="text-lg font-medium text-text">No products found</p>
          <p class="text-text-muted mt-1">
            Try adjusting your search or filters to find what you're looking for.
          </p>
        </div>
      }

      <!-- Products grid -->
      @if (productService.filteredProducts().length > 0) {
        <div
          class="grid grid-cols-1 xl:grid-cols-2 gap-6 animate-in fade-in duration-500 justify-items-center"
        >
          @for (product of productService.filteredProducts(); track product.id) {
            <component-product-card [product]="product" class="w-full max-w-lg" />
          }
        </div>
      }
    </main>
  </div>
</div>
